.NLEditor {
	position: relative;
}

	.NLEditor .component-types {
		display: none;
		visibility: hidden;
	}

/*.NLEditor .nl-editor-box-vertical {
	width: 100%;
	padding: 10px;
	border: dotted 1px black;
}*/

/* immediate component divs in the vertical box are full width, so stack vertically */
/*.NLEditor .nl-editor-box-vertical > div {
	width: 100%;
}*/

/*	.NLEditor .nl-editor-box-vertical:hover >.component-toolbox {
		display: block;
		visibility: visible;
	}*/

/*.NLEditor .nl-editor-box-horizontal {

}
*/
.NLEditor .metadata {
	display: none;
	visibility: hidden;
}

.NLEditor .component-toolbox {
	position: absolute;
	top: 3px;
	left: 5px;
	display: none;
	visibility: hidden;
}

	.NLEditor .component-toolbox.visible {
		display: block;
		visibility: visible;
	}

.NLEditor .nl-component-editor {
	position: relative;
	background-color: #dddddd;
/*	height: 80px;*/
	margin-top: 7px;
	margin-bottom: 7px;
     -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	border: 1px solid #444444;
	text-align: center;
}

/*	structure:
		div.nl-component-editor
			div.centered
		 		div.component-toolbox
				div.info (not shown for boxes)
					img.component-icon
					div.name
				div.content
	*/

	.NLEditor .nl-component-editor .centered {
		display: inline-block;
		margin: 2px 10px 2px 10px;
	}

	.NLEditor .nl-component-editor img.component-icon {
		width: 32px;
		height: 32px;
		vertical-align: middle;
/*		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
*/	}
	
	.NLEditor .nl-component-editor .info {
		/*vertical-align: top;*/
/*		margin-left: auto;
		margin-right: auto;
		text-align: center;
*/	}

	.NLEditor .nl-component-editor .name {
		vertical-align: middle;
	}

	.NLEditor .nl-component-editor .content {
		padding: 2px;
		background-color: #eeeeee;
	}

.NLEditor .available-components {
	width: 20%;
	float: left;
	clear: left;
}

.NLEditor .editor-area {
	width: 79%;
	float: left;
	clear: right;
}

.NLEditor .available-components .thumbnail img {
	width: 32px;
	height: 32px;
	vertical-align: middle;
}

.NLEditor .available-components .thumbnail .name {
	vertical-align: middle;
}

.NLEditor .available-components .component .description {
	display: none;
	visibility: hidden;		
}

.NLEditor .tool-button {
	margin: 2px;
     -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #ff6600;
}

	.NLEditor .tool-button a {
		margin: 5px;
		color: black;
	}

/*--- Editor pop-up styling ---*/

.NLEditor > .popup {
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	width: 90%;
	display: none;
	visibility: hidden;
	position: absolute;
	top: 20px;
	left: 15px;
	z-index: 100;
}

	.NLEditor > .popup.visible {
		display: block;
		visibility: visible;
	}

	.NLEditor > .popup .popup-inner {
		background-color: white;
		padding: 15px;
	}

/*--- Add components in dialog ---*/
.NLEditor > .popup .component-definition .preview {
	float:; left;
	min-width: 200px;
}

.NLEditor > .popup .component-definition .name {
	float: left;
	clear: right;
}

.NLEditor > .popup .component-definition .preview {
	float: left;
	clear: right;
}

/*** proeprty editor ***/
.NLEditor .property-editor {

}

/*	.NLEditor .property-editor .field-name {
		float: left;
		clear: left;
		width: 15%;
		margin-right: 5px;
	}
*/
/*	.NLEditor .property-editor .field-source {
		float: left;
		width: 15%;
		margin-right: 5px;
	}

	.NLEditor .property-editor .field-value {
		float: left;
		width: 68%;
	}

	.NLEditor .property-editor .editor-field {
		display: block;
	}
*/
	.NLEditor .property-editor .actions {
		margin-top: 10px;
	}