.nl-component
    background #fff
    border 1px solid #ddd
    border-radius 3px
    box-sizing border-box
    color #666
    margin-bottom 1em
    padding 1em
    position relative
    
    &:last-child
        margin-bottom 0

.component-icon
    border 1px solid transparent
    display inline-block
    font-size 2em
    padding .5em

    &:hover
        border 1px dashed #ddd
        border-radius 3px
        cursor move

.child-components
    padding-top 1em
    
    &.children-0
        padding-top 0
