.blur
    opacity .7
    -webkit-filter blur(2px)

.hide
    display none

@require 'fonts'
@require 'component'
@require 'palette'
@require 'palette-component'
@require 'layout'
@require 'component-editor'
@require 'horizontal-layout'

#neolayout
    h2
        margin-bottom .5em
        margin-top 0

    h3
        margin-bottom .5em
        margin-top 0

.nl-toolbar-button
    background #ddd
    border-radius 3px
    display inline-block
    margin 0 1% 1em 0

    a
        color #666
        display block
        padding .5em 1em

.NLEditorComponentEditor
    box-shadow: #000 0px 1px 20px -10px;
    height: 50%;
    left: 25%;
    position: absolute;
    width: 50%;
    z-index 1
