.nl-palette
    margin-bottom 2em

    .NLEditor.modal-open &
        @extend .blur

    .nl-palette-tab
        background #eee
        border 1px solid #ccc
        float left
        padding 10px
        font-size 120%

        &.selected
            background-color #fff

        &:hover
            text-decoration underline

    .images-search-results
        padding-top 15px

.nl-palette-container
    clear both
    padding-top 15px

    > div.hidden
        display none
        visibility hidden

