.nl-field-editor
    position absolute
    right 1em
    top 1em

    .actions
        a
            font-size 1.2em
            margin-left .4em

            text-decoration none

.nl-modal-editor
    background #fff
    border 1px solid #ddd
    border-radius 3px
    box-shadow #000 0px 0px 16px -7px
    left 540px
    min-height 1px
    padding 2em
    position fixed
    right 300px
    top 30%
    width 300px
    z-index 10

    button.close
        position absolute
        right .5em
        top 1em

    .field-editor-form
        margin-top 1.5em

        label
            display block
            font-weight bold
            margin-bottom .2em

    .field-editor-rows
        margin-bottom 2em

    .field-editor-row
        margin-bottom 1em

    .field-editor-field
        margin-right 1%

.nl-modal-mask
    background #fff
    bottom 0
    left 0
    opacity .7
    position fixed
    right 0
    top 0
    z-index 1
